asgiref
autopep8
boto3
botocore
certifi
charset-normalizer
Django
django-database-url
django-hosts
django-storages
djangorestframework=
gunicorn
idna
jmespath
Pillow
psycopg2-binary
pycodestyle
python-dateutil
pytz
requests
s3transfer
six
sqlparse
toml
tzdata
urllib3
pysqlite3
pysqlite3-binary