{% load humanize %}
{% block course_element %}

<div class="col-lg-4 col-md-6 wow border mx-1 p-0 fadeInUp" data-wow-delay="0.1s">
    <div class="course-item bg-light">
        <div class="position-relative overflow-hidden">
            <!-- <img class="img-fluid" src="{{course.cover_photo.url}}" alt="" /> -->
            <img height="400px" width="auto" src="{{course.cover_photo.url}}" alt="" />
        </div>
        <div class="text-center p-4 pb-0">
            <div class="w-100 d-flex justify-content-center mb-4">
                <a href="{% url 'course_details' slug=course.slug id=course.id %}"
                    class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                    style="border-radius: 30px 0 0 30px;">Read More</a>
                <!-- <a href="{% url 'enrole_course' course_slug=course.slug course_id=course.id%}"
                    class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a> -->
                {% if course.student == request.user %}
                <!-- TODO set course leraning url -->
                <a class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;"
                    href="{% url 'enrole_course' course_slug=course.slug course_id=course.id %}">Enrole
                    Now</a>
                {% else %}
                <a class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;"
                    href="{% url 'learn_course_page' course_id=course.id %}">Start
                    Learning</a>
                {% endif %}
            </div>
            <h3 class="mb-4 text-capitalize">
                {{course.title}}
            </h3>
            <h4 class="mb-0"> {% if course.price == 0 %} Free {% else %} &#x20A6; {{course.price}} {% endif %}</h4>
            <div class="mb-3">
                <strong>Class Starts:</strong> {{course.start_date|naturaltime}}
            </div>
            <div class="mb-3">
                <strong>Language:</strong> {{course.get_language_display}}
            </div>


        </div>
        <div class="d-flex border-top">
            <small class="flex-fill text-center border-end py-2">
                <i class="fa fa-user-tie text-primary me-2"></i>
                {{course.tutor.get_full_name}}
            </small>
            <small class="flex-fill text-center border-end py-2">
                <i class="fa fa-clock text-primary me-2"></i>
                {{course.modules.count}} Modules
            </small>
            <!-- <small class="flex-fill text-center py-2">
                <i class="fa fa-user text-primary me-2"></i>
                {{course.enrolements.count}} Enroled
            </small> -->
        </div>
    </div>
</div>

{% endblock %}