{% extends 'base/base.html' %} {% load static %} {% block content %}
<!-- Login Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-danger px-3">
                Error
            </h3>
            <p>
                The One-time verification code is either incorrect or has expired.
            </p>
        </div>
    </div>
</div>
<!-- Login End -->
{% endblock %}