{% extends 'base/base.html' %} {% load static %} {% block content %}
<!-- Login Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Login
      </h6>
      {% if messages %} {% for message in messages %}

      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{message.tags}}!</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {% endfor %} {% endif %}
    </div>
    <div class="row align-items-center justify-content-center g-4">
      <div class="col-lg-6 col-md-6 text-center wow fadeInUp" data-wow-delay="0.1s">
        <h2>Login to your Account</h2>
      </div>
      <div class="col-lg-6 col-md-12 mt-5 mb-5 wow fadeInUp" data-wow-delay="0.5s">
        <form method="post" action="{% url 'login_page' %}">
          {% csrf_token %}
          <div class="row g-3">
            <div class="">
              <div class="form-floating">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" />
                <label for="name">Your Email</label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-floating">
                <input name="password" type="password" class="form-control" id="password" placeholder="password" />
                <label for="password">Your Password</label>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary w-100 py-3" type="submit">
                Sutmit
              </button>
            </div>
            <div class="col-12 text-end">
              <a href="{% url 'register_page' %}">Register instead.</a>
            </div>
            <div class="col-12 text-end">
              <a href="{% url 'reset_password' %}">Forget password?</a>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- Login End -->
{% endblock %}