{% extends 'base/base.html' %} {% load static %} {% block content %}
<!-- profile start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    {% if user.profile_picture %}
                    <img class="img-fluid position-absolute w-100 h-100" src="{{user.profile_picture.url}}" alt=""
                        style="object-fit: cover;" />
                    {% else %}
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'base/img/about.jpg' %}" alt=""
                        style="object-fit: cover;" />
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">
                    My Profile
                </h6>
                <h1 class="mb-4 text-uppercase">
                    {{user.first_name}} {{user.last_name}}
                </h1>
                <p class="mb-4">
                    Email: <span class="text-ittalic">{{user.email}}</span>
                </p>
                <p class="mb-4">
                    Phone Number: <span class="text-ittalic">{{user.mobile_number}}</span>
                </p>
                <p class="mb-4">
                    Gender: <span class="text-ittalic">{{user.get_gender_display}}</span>
                </p>
                {% if user.tutor %}
                <p class="mb-4">
                    Account Type: <span class="text-ittalic">Tutor</span>
                </p>
                {% else %}
                <p class="mb-4">
                    Account Type: Student
                </p>
                {% endif %}
                <div class="row">
                    <div class="col-12 text-lg-start text-md-center text-sm-center"><a
                            class="btn btn-primary py-3 px-5 mt-2" href="{% url 'update_profile' %}">Edit
                            Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">
                    Your Enrolled Courses
                </h6>
            </div>
            <div class="row g-4 justify-content-center">
                {% for course in courses %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <!-- <img class="img-fluid" src="{{course.cover_photo.url}}" alt="" /> -->
                            <img class="img-fluid" src="{{course.cover_photo.url}}" alt="" />
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="{% url 'course_details' slug=course.slug %}"
                                    class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                                    style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                    style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0"> &#x20A6; {{course.price}}</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small>(123)</small>
                            </div>
                            <h5 class="mb-4">
                                {{course.title}}
                            </h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i
                                    class="fa fa-user-tie text-primary me-2"></i>{{course.tutor.get_full_name}}</small>
                            <small class="flex-fill text-center border-end py-2"><i
                                    class="fa fa-clock text-primary me-2"></i>{{course.modules.count}} Modules</small>
                            <small class="flex-fill text-center py-2"><i
                                    class="fa fa-user text-primary me-2"></i>{{course.enrolements.count}}
                                Enroled</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if not courses %}
                <div class="text-center">
                    <p class="text-center">You have not enroled in any course yet.</p>
                    <a href="{% url 'courses_list' %}" class="btn btn-primary"> Explore Courses</a>
                    <a href="{% url 'categories_list' %}" class="btn btn-primary"> Browse Topics</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- profile end -->
{% endblock %}