{% extends 'base./base.html' %} {% load humanize %} {% load static %} {% block title %} {{course.title}} |
Tutornet {% endblock %} {% block content %}
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">{{course.title}}</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item">
                            <a class="text-white" href="{% url 'categories_list' %}">Categories</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-white"
                                href="{% url 'category_courses_list' slug=course.category.slug %}">{{course.category}}</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{{course.cover_photo.url}}" alt=""
                        style="object-fit: cover;" />
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">
                    About The Course
                </h6>
                <h1 class="mb-4">{{course.title}}</h1>
                <p class="mb-4">
                    {{course.description}}
                </p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0">
                            Price: NGN {{course.price|intcomma}}
                        </p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Enrole Now</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Benefits Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">{{course.enrolements.count}}</h5>
                        <p>
                            Enrolements
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">{{course.modules.count}}</h5>
                        <p>
                            Lessons
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">{{course.test }}</h5>
                        <p>
                            Tests
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">{{course.course_support_docs.count}}</h5>
                        <p>
                            Study Materials
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Benefits End -->

<!-- Content Start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                <h2>
                    Course Content
                </h2>
            </div>
            {% for module in course.modules.all %}
            <div class="col-12 mx-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <h5 class="mb-3">{{module.title}}</h5>
                        <p>{{module.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Content End -->

    <!-- Tutors Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">
                    Instructor
                </h6>
            </div>
            <div class="row align-items-center justify-content-center g-4">

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{course.tutor.profile_picture.url}}" alt="" />
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 text-capitalize">
                            <h5 class="mb-0">{{course.tutor.first_name}} {{course.tutor.last_name}}</h5>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Tutors End -->

    {% endblock %}