{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Courses
{%endblock%}
{% block content %}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown text-capitalize">Select from our Courses</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item">
                            <a class="text-white" href="{% url 'home_page' %}">Home</a>
                        </li>
                        {% if category %}
                        <li class="breadcrumb-item text-white active" aria-current="page">
                            Categories
                        </li>
                        <li class="breadcrumb-item text-white active" aria-current="page">
                            {{category.name}}
                        </li>
                        {% endif %}
                        <li class="breadcrumb-item text-white active" aria-current="page">
                            courses
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<section class="container mt-5">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">
                    Courses
                </h6>
                <form action="" method="get">
                    <div class="row my-2">
                        <div class="col-lg-7 col-sm-12">
                            <div class="form-floating">
                                <input type="text" name="search" id="search" value="{{search_text}}"
                                    class="form-control">
                                <label for="search">Search Course Title</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-floating">
                                <select name="category" id="category" class="form-control">
                                    <option value="">All</option>
                                    {% for category in categories %}
                                    <option {% if category.slug == category_slug %} selected {% endif %}
                                        value="{{category.slug}}">{{category.name}}</option>
                                    {% endfor %}
                                </select>
                                <label for="category">Filter Category:</label>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-12">
                            <button type="submit" class="btn btn-primary rounded shadow h-100">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row g-4 mt-3 justify-content-center">
                {% for course in courses %}
                {% include 'courses/elements/course.html' with course=course %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>
{% endblock %}